@charset "utf-8";

* {
  box-sizing: border-box;
}

/*NOTE: Base Style*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  padding-top: 100px;
  background-color: #5f976f;
}

/* NOTE: Colors*/

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yello;
}

.green {
  color: green;
}

.white {
  color: white;
}

.black {
  color: black;
}

.bold {
  font-style: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
