@charset "utf-8";

* {
  box-sizing: border-box;
}

:root {
  --color-link: #3c97bf;

  --c-pw: rgb(181, 199, 204); /* pasterl-blue */
  --c-cg: rgb(139, 161, 173); /* carget-grey */
  --c-st: rgb(88, 123, 137); /* steel-teal */
  --c-pb: rgb(36, 77, 102); /* police-blue */

  --c-da: rgb(64, 125, 108); /* deep-aquamarin */
  --c-dgs: rgb(125, 178, 144); /* dark-sea-green */
  --c-bc: rgba(52, 53, 65, 1); /* background-color */
}

/*NOTE: Base Style*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  padding-top: 100px;
}

.c-pb {
  color: var(--c-pb);
}

.c-cg {
  color: var(--c-cg);
}

.c-st {
  color: var(--c-st);
}

.c-pb {
  color: var(--c-pb);
}

.c-da {
  color: var(--c-da);
}

.c-dsg {
  color: var(--c-dsg);
}

.c-link {
  color: var(--color-link);
}
