{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/markdowns.css' %}" />
{% endblock head %}
{% block content %}
    <header id="header">
        <div class="header-inner">
            <a href="/" class="icon">
                <img src="{% static 'images/icon.png' %}"
                     alt="icon"
                     height="24"
                     width="24">
            </a>
            <nav class="area-nav-header">
                <ul class="list-nav-header">
                    <li>
                        <i class="bx bx-cog"></i>
                    </li>
                    <li>
                        <i class="bx bx-list-ul"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock content %}
