{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/markdowns.css' %}" />
{% endblock head %}
{% block content %}
    <header id="header">
        <div class="header-inner">
            <a href="/" class="icon">
                <img src="{% static 'images/icon.png' %}"
                     alt="icon"
                     height="20"
                     width="20">
            </a>
            <nav class="area-nav-header">
                <ul class="list-nav-header">
                    <li>
                        <i class="ph ph-gear"></i>
                    </li>
                    <li>
                        <i class="ph ph-list"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="LeftPaneContainer" onContextmenU="return false;">
            <div class="LeftPaneContainer-nav">
                <div class="LeftPaneContainer-navItem" id="navItem-explorer">
                    <i class="ph ph-file"></i>
                </div>
                <div class="LeftPaneContainer-navItem" id="navItem-bookmark">
                    <i class="ph ph-book-bookmark"></i>
                </div>
            </div>
            <div class="LeftPaneContainer-panes">
                <div class="Pane explorer">
                    <div class="Pane-header">
                        <span class="Pane-headerText">My Files</span>
                        <div class="Pane-headerToolbar">
                            <i class="ph ph-plus"></i>
                            <i class="ph ph-search"></i>
                        </div>
                    </div>
                    <div class="PaneBody">
                        {% load mptt_tags %}
                        {% recursetree markdowns %}
                        <div class="FolderItem {{ node.is_leaf_node|yesno:'empty-item,parent-item' }}">
                            <div class="FolderItem-header pane-item-header">
                                <div class="FolderItem-toggler icon pane-item-toggler"></div>
                                <i class="FolderItem-icon pane-item-icon ph ph-folder"></i>
                                <div class="FolderItem-title pane-item-title">{{ node.name }}</div>
                            </div>
                            <div class="pane-item-children">
                                {% if node.files.all %}
                                    {% for file in node.files.all %}
                                        <div class="DocumentItem">
                                            <div class="DocumentItem-header pane-item-header">
                                                <div class="DocumentItem-toggler pane-item-toggler"></div>
                                                <i class="DocumentItem-icon pane-item-icon ph ph-file-text"></i>
                                                <div class="DocumentItem-title pane-item-title">{{ file }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if not node.is_leaf_node %}{{ children }}{% endif %}
                            </div>
                        </div>
                    {% endrecursetree %}
                </div>
            </div>
            <div class="Pane bookmark" style="display:none"></div>
            <div class="contextMenus">
                <div class="ContextMenu DocumentContextMenu">
                    <ul class="MenuGroup">
                        <li class="MenuItem MenuItem--newDocument">
                            <div class="MenuItem-icon icon"></div>
                            <span class="MenuItem-name">New document</span>
                        </li>
                        <li class="MenuItem MenuItem--newFolder ">
                            <div class="MenuItem-icon icon"></div>
                            <span class="MenuItem-name">New folder</span>
                        </li>
                    </ul>
                </div>
                <div class="ContextMenu FolderContextMenu">
                    <ul class="MenuGroup">
                        <li class="MenuItem MenuItem--newDocument">
                            <div class="MenuItem-icon icon"></div>
                            <span class="MenuItem-name">New document</span>
                        </li>
                        <li class="MenuItem MenuItem--newFolder ">
                            <div class="MenuItem-icon icon"></div>
                            <span class="MenuItem-name">New folder</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/markdowns.js'%}"></script>
{% endblock content %}
