{% with node.is_empty as empty %}

<div class="FolderItem {{ empty|yesno:'empty-item,parent-item' }}" id="Folder-{{ node.id }}">
  <div class="FolderItem-header pane-item-header">
    <div class="FolderItem-toggler icon pane-item-toggler"></div>
    <i class="FolderItem-icon pane-item-icon ph ph-folder-simple"></i>
    <div class="FolderItem-title pane-item-title" spellcheck="false">{{ node.name }}</div>
    <form class="pane-item-rename pane-item-title">
      <input class="pane-item-title pane-item-input" spellcheck="false">
    </form>
  </div>
  <div class="pane-item-children">
    {% if not empty %}
    {% if not node.is_leaf_node %}{{ children }}{% endif %}
    {% for file in node.files.all %}
    {% include "markdowns/file.html" %}
    {% endfor %}
    {% endif %}
  </div>
</div>

{% endwith %}
