{% extends "base.html" %}
{% block head %}
    {% load static %}
    <link href="{% static 'css/homes/base_home.css' %}" rel="stylesheet" />
    {% block loader %}
    {% endblock loader %}
{% endblock head %}
{% block content %}
    <!-- NOTE: HEADER -->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-black" href="/">RYAMA</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'why' %}">WHY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'feature' %}">Feature</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white"
                               href="#"
                               id="navbarDarkDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">使ったやつ</a>
                            <ul class="dropdown-menu dropdown-menu-dark"
                                aria-labelledby="navbarDarkDropdownMenuLink">
                                <li>
                                    <a target="_blank" class="dropdown-item" href="https://iterm2.com/">Iterm2</a>
                                </li>
                                <li>
                                    <a target="_blank" class="dropdown-item" href="https://astronvim.com/">Astronvim</a>
                                </li>
                                <li>
                                    <a target="_blank"
                                       class="dropdown-item"
                                       href="https://github.com/tmux/tmux/wiki">Tmux</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a target="_blank"
                                       href="https://fonts.google.com/noto/specimen/Noto+Sans+JP?query=noto"
                                       class="dropdown-menu">Noto Sans JP</a>
                                </li>
                                <li>
                                    <a target="_blank"
                                       href="https://fonts.google.com/specimen/Zen+Kurenaido?query=zen+ku"
                                       class="dropdown-item">Zen Kurenaido</a>
                                </li>
                                <li>
                                    <a target="_blank"
                                       class="dropdown-item"
                                       href="https://csstools.github.io/sanitize.css/">SanitizeCSS</a>
                                </li>
                                <li>
                                    <a target="_blank" class="dropdown-item" href="https://getbootstrap.jp/">BootStrap</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link text-primary fw-bold text-decoration-underline"
                                   href="{% url 'logout' %}">Logout</a>
                            {% else %}
                                <a class="nav-link text-danger fw-bold text-decoration-underline"
                                   href="{% url 'account' %}">Account</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--NOTE: main content-->
    {% block main %}
    {% endblock main %}
    <!-- NOTE: FOOTER -->
    <footer>
        <p>
            Created of&nbsp;
            <!-- PERF: add underline or delte -->
            <a target="_blank"
               href="https://github.com/moriyoshi-kasuga/RYAMA"
               class="text-decoration-underline c-link">This Git Repo</a>
        </p>
    </footer>
{% endblock content %}
