{% extends 'homes/base-home.html' %}
{% block heads %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homes/home.css' %}">
{% endblock heads %}
{% block main %}
    <div class="Hero">
        <div class="HeroInner">
            <div class="HeroTitle">RYAMA</div>
            <div class="HeroSubTitle">Rainbow Yonder Adorn Markdown Application</div>
            <div class="HeroLinks">
                <a href="{% url 'markdowns' %}" class="toSignup">アカウントを作成する</a>
                <a href="{% url 'features' %}" class="toFeatures">使い方</a>
            </div>
        </div>
        <img src="{% static 'images/HomeScreenShot.png' %}"
             alt="Demo ScreenShot"
             height="auto"
             width="500">
    </div>
{% endblock main %}
