{% extends "homes/base_home.html" %}
{% block loader %}
    {% load static %}
    <link href="{% static 'css/homes/signup.css' %}" rel="stylesheet" />
{% endblock loader %}
<!--NOTE: content-->
{% block main %}
    <div class="wrapper">
        <form method="post" name="signup">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" placeholder="Username" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input type="passoword1" placeholder="Password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="passoword2" placeholder="Password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>
                    Don't have an account?
                    <a href="#">SignUP</a>
                </p>
            </div>
        </form>
    </div>
    <script src="{% static 'js/homes/signup.js' %}"></script>
{% endblock main %}
