{% extends "homes/base_home.html" %}
{% block loader %}
    {% load static %}
    <link href="{% static 'css/homes/why.css' %}" rel="stylesheet" />
{% endblock loader %}
<!--NOTE: content-->
{% block main %}
    <h1 class="text-danger text-center mt-5 mb-0">Create Account</h1>
    <form method="post" name="signUp" class="row mt-0">
        {% csrf_token %}
        <div class="col-md-12">
            <label for="name" class="form-label">Username</label>
            <div class="input-group">
                <span class="input-group-text">@</span>
                <input type="text"
                       class="form-control is-invalid"
                       id="up-name"
                       name="name"
                       aria-describedby="name"
                       value="{{ up_username }}"
                       required />
                <div class="valid-feedback" id="up-name-valid">このユーザー名は使用できます</div>
                <div class="invalid-feedback" id="up-name-invalid">ユーザー名を入力してください</div>
            </div>
            <div id="up-name-feedback"></div>
        </div>
        <div class="col-md-12">
            <label for="password1" class="form-label">Password</label>
            <input type="password"
                   name="password1"
                   class="form-control"
                   id="password1"
                   required />
        </div>
        <div class="col-md-12">
            <label for="password2" class="form-label">Password Confirm</label>
            <input type="password"
                   name="password2"
                   class="form-control"
                   id="password2"
                   required />
        </div>
        <div class="mt-5 col-4">
            <button class="btn btn-primary" type="submit" name="sign" value="up">Submit</button>
        </div>
    </form>
{% endblock main %}
